body {
    font-family: 'Blinker', serif;
}

.primary-font,
#primary-font {
    font-family: 'ADLaM Display', cursive;
}

.secondary-font,
#secondary-font {
    font-family: 'Blinker', serif;
}

.default-font,
#default-font {
    font-family: 'Roboto', sans-serif;
}

body.dark {
    font-family: "Lora", serif;
}

body.dark .primary-font,
body.dark #primary-font {
   font-family: "Alata", sans-serif;
}

body.dark .secondary-font,
body.dark #secondary-font {
    font-family: "Lora", serif;
}