/* contributions */

#contributions h3 {
    color: var(--text-secondary-color) !important;
}

#contributions p {
    color: var(--text-secondary-color) !important;
}

#contributions a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#contributions .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#contributions .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    border: none !important;
    flex-direction: row;
}

#contributions .card:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
    transition: transform 0.3s;
    transform: translateY(-7px);
}

#contributions .card .card-head {
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.card-text p {
    text-align: left;
}

.card-body .pb-2 {
    display: flex;
    justify-content: flex-end;  
    flex-wrap: wrap;            
    gap: 6px;                  
}

#contributions .card .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#contributions .card:hover .card-img-top {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

#contributions .card-img-top {
    transition: transform 0.3s;
}

#contributions .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#contributions .float-end .btn:focus {
    box-shadow: none !important;
}